doctype(html)
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css')
    link(rel='stylesheet' href='https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css')
    link(href='/public/css/jquery.dataTables.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='icon' type='image/png' sizes='32x32' href='/public/images/favicon-32.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/public/images/app-icon.png')
    link(href='/public/css/styles.css' rel='stylesheet')
    title No Agenda Producer Database
  body 
    nav.navbar.dark.bg-dark
      .container-fluid
        a.navbar-brand(href='/')
          img.d-inline-block.align-text-top(src='/public/images/na_logo.png' alt='No Agenda Show logo' width='30' height='30')
          |             No Agenda Producer Database
        button.btn.btn-na(data-toggle='modal' data-target='#myModal') Donate
        .modal.fade(tabindex='-1' id='myModal' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
          .modal-dialog(role='document' class='modal-dialog modal-dialog-centered modal-lg')
            .modal-content
              .modal-header.text-center
                h5#myModalLabel.modal-title.w-100 Value for Value Model
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                .container
                  .row
                    .col-md-6
                      br
                      img(src='/public/images/thom.png' width='100%' alt='Sir Crip Named Ben at his battlestation')
                    .col-md-6
                      p &nbsp;
                      p In the morning my fellow producers!
                      p Support the No Agenda Producer Database! Your donations keep me rolling and the NAPDB online. A portion will be donated to TBPITU! Love and light!
                      p(style='font-style:italic;') - Sir CripNamedBen
                      div(style='margin 0 auto; text-align:center;')
                        form(action="https://www.paypal.com/donate" method="post" target="_top")
                          input(type="hidden" name="business" value="SM8Q3SDWGPMRG")
                          input(type="hidden" name="no_recurring" value="0")
                          input(type="hidden" name="item_name" value="Support the No Agenda Producer Database! Your donations keep me rolling and the NAPDB online. Love and light!")
                          input(type="hidden" name="currency_code" value="CAD")
                          input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button")
        form.d-flex(role='search' action='/search/' method='get')
          input.form-control.me-2(type='search' name='searchQuery' size='30' placeholder='episode #, title, date or producer' aria-label='Search')
          button.btn.btn-na(type='submit') Search
script(src='https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
script.
  $(document).ready(function() {
    $(".modal-wide").on("show.bs.modal", function() {
      var height = $(window).height() - 200;
      $(this).find(".modal-body").css("max-height", height);
    });
  })